.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.Header {
  background-color: hex #118AB2;
  color: rgb(142, 194, 264);
  text-align: center;
}

.container {
  background-color: rgb(53, 58, 64);
  color: white;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 5px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
}

.to-do-form {
  border-style: solid;
  width: 30%;
  margin-left: 60px;
  padding: 15px;
  border-width: thin;
  border-color: lightgray;
  float: left;
}

.toast {
  width: 75%;
  float: right;
  margin-right: 20%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(42, 127, 251);
  color: rgb(142, 194, 264);
  text-align: left;
  height: 30px;
}



.active {
  color: darkblue;
}